*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    height: 100vh;
    /*  
        Si plusieurs unité fr sont indiquées,
        Elle se partagerons l'éspace restant telle des fractions.
        Ici j'ai 1 + 3 + 1 = 5
        Donc la première et la troisième ligne prendrons 1/5ème de l'espace restant 
        Et la seconde 3/5ème.  
    */
    grid-template-rows: 1fr 3fr 1fr;
    /* 
        Permet après avoir nommé mes éléments enfant avec grid-area,
        de créer la grille en plaçant directement le nom des éléments.
        chaque "" représente une rangée, chaque nom, une colonne.
        ! Faite bien attention d'avoir le même nombre de colonne à chaque rangée
    */
    grid-template-areas: 
    "header header header header header header"
    "menu article article article chausette chausette"
    "menu footer footer footer footer footer";
    gap: 5px;
}
.item1 {
    background-color: blue;
    /* grid-area peut aussi permettre de nommer un élément afin de l'utiliser dans un grid-template-area */

    grid-area: header;
}
.item2{
    background-color: red;
    grid-area: menu;
}
.item3{
    background-color: yellow;
    grid-area: article;
}
.item4{
    background-color: green;
    grid-area: chausette;
}
.item5{
    background-color: coral;
    grid-area: footer;
}