<button (click)="goToRecetteList()">Retour</button>
@if(recette)
{
    <div class="recette">
        <h2>
            {{recette.name}} 
            <span class="type" style="background-color:{{recette.type| typeColor}};">{{recette.type}}</span>
        </h2>
        <div class="header">
            <div class="intro">
                <p>{{recette.description}}</p>
                <span class="date">{{recette.createdAt | date:"dd/MM/yyyy"}}</span>
            </div>
            <div class="image">
                <img src="./photos/{{recette.image}}" alt="{{recette.name}}">
            </div>
            <div class="details">
                <h4>Durée :</h4>
                <p>{{recette.duration}} minutes</p>
                <h3>Ingrédients :</h3>
                <ul>
                    @for(ing of recette.ingredients; track $index)
                    {
                        <li>{{ing}}</li>
                    }
                </ul>
            </div>
            
        </div>
        <div class="steps">
            @for(step of recette.steps; track $index)
            {
                <p>
                    <span class="number">Étape {{$index+1}} :</span> <br>
                    {{ step }}
                </p>
            }
        </div>
    </div>
}
@else{

    <p> Aucune recette n'a été trouvé.</p>
}


